html {
	margin-left: 140px;
	margin-right: 140px;
	background-color: #F7F5F3;
}

/* 小屏幕（平板，大于等于 768px） */
@media (min-width: 768px）) { 
    #Contact .title .call {
        margin-top: 0px;
        float: initial;
        
    }
    .storiesTopLeft {
        padding-right:0;
        border-right: none;
    }
    .mainStoriesBook #anna img{
        margin-top: 0px;
    }
 }

/* 中等屏幕（桌面显示器，大于等于 992px） */
@media (min-width: 992px) { 
    #Contact .title .call {
        margin-top: 250px;
        float: right;

    }
    .storiesTopLeft {
        padding-right:0;
        border-right: none;
    }

    #Contact .title .name{
        margin-top: 200px;
    }
 }

 /* 大屏幕（大桌面显示器，大于等于 1200px） */
@media (min-width: 1200px) { 
    #Contact .title .call {
        margin-top: 255px;
        float: right;

    }
    .storiesTopLeft {
        padding-right: 80px;
        position: relative;
        border-right: 1px solid #a68d85;
        margin-bottom: 10px;
    }
 }

/*navbar*/
.navbar-brand img {
	height: 50px;
}

@media (min-width: 768px) {
/*nav選單*/
.navbar{
	padding-left:50px!important;
	padding-right:50px!important; 
 }
}

.navbar-nav {
	margin-left: 650px;
}

/*封面*/
.top {
	background-color: #F7F5F3;
}

#cover {
	position: relative;
	padding: 0px 0px;
	text-align: center;
}

#cover p {
	font-family: "Georgia";
	font-size: 72px;
	color: #fff;
	position: absolute;
   	background-color: #F5DC6A;
	color: black;
	padding-top: 0px;
	padding-right: 20px;
	margin-top: 70px;
	margin-left: 40px;

}

.quote:before {
    content: " “ ";
    color: #bd9f77;
    left: -0.5em;
    top: -0.1em;
    font-size: 160%;
    padding-top: 0px;
 }

#cover img {
	float: right;
	padding-top: 40px;
	background-color: #F7F5F3;
}

#leftcover {
	position: absolute;
}

/*引文*/
#passage {
	background-color: #F7F5F3;
}

.topic {
	font-family: "Georgia";
}

.content {
	margin-left: 53px;
	font-size: 24px;
}

/*早餐*/
#breakfast {
	padding-right: 0px;
	padding-bottom: 50px;
	border-bottom: solid 1px #787D7B;
	position: relative;
	background-color: #F7F5F3;
	width: 1121.61px;
}

.topicb p {
	padding-bottom: 10px;
	font-family: "Georgia";
}

.pictureb {
	padding: 0 0;
}

.b1 img {
	float: right;
}

.b2 img {
	float: right;
}

.b3 img {
	float: right;
}

.menub {
	margin-bottom: 0px;
	padding-bottom: 0px;
	padding-top: 20px;
	text-align: right;
}

.menub a {
	text-decoration: none;
	color: black;
}

.menub p {
	font-size: 24px;
}

/*午餐*/
#lunch {
	margin-top: 0px;
	padding-top: 0px;
	padding-bottom: 50px;
	border-bottom: solid 1px #787D7B;
	background-color: #F7F5F3;
	width: 1121.61px;
}

.topicl p {
	padding-bottom: 10px;
	font-family: "Georgia";
}

.picturel {
	padding: 0 0;
}

.l1 img {
	float: right;
}

.l2 img {
	float: right;
}

.l3 img {
	float: right;
}

.menul {
	margin-bottom: 0px;
	padding-bottom: 0px;
	padding-top: 20px;
	text-align: right;
}

.menul a {
	text-decoration: none;
	color: black;
}

.menul p {
	font-size: 24px;
}

/*晚餐*/
#dinner {
	margin-top: 0px;
	padding-top: 0px;
	background-color: #F7F5F3;
	width: 1121.61px;
}

.topicd p {
	padding-bottom: 10px;
	font-family: "Georgia";
}

.pictured {
	padding: 0 0;
}

.d1 img {
	float: right;
}

.d2 img {
	float: right;
}

.d3 img {
	float: right;
}

.menud {
	margin-bottom: 0px;
	padding-bottom: 0px;
	padding-top: 20px;
	text-align: right;
}

.menud a {
	text-decoration: none;
	color: black;
}

.menud p {
	font-size: 24px;
}